@font-face {
    font-family: Schrift;
    src: url(./Silkscreen-Regular.ttf);
}
body{
    font-family: Schrift;
    text-align: center;
    background-color: black;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 8vh;
    color: white;
    text-shadow: 0 0 5px black;
    margin: 4vh;
    animation-name: opening;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes opening {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
#nameFirst{
    border: red 5px solid;
    font-size: large;
    font-family: Schrift;
}
#nameSecond{
    border: red 5px solid;
    font-size: large;
    font-family: Schrift;

}
html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h1{
    margin: 0vh;
    padding: 0vh;
}
.gameTwo{
display: grid;
grid-template-columns: 50vh 50vh;
}
.container{
    display: block;
}

.buttonContainer{
    margin-left: 30vh;
    margin-right: 30vh;

}
.button{
    text-decoration: none;
    background-color: red;
    border: 10px solid red;
    color: black;
    transition: 2s;

}
.button:hover{
    color: white;
}
.buttonTwo{
    text-decoration: none;
    background-color: black;
    border: 10px solid black;
    color: white;
    transition: 2s;

}
.buttonTwo:hover{
    color: red;
}
.Info{
    font-size: 3vh;
}
.startButton{
    text-decoration: none;
    background-color: red;
    border: 10px solid red;
    color: black;
    transition: 2s;
    margin-left: 40vh;
    margin-right: 40vh;
}
.startButton:hover{
    color: white;
}
#container{
    display: grid;
    grid-template-columns: auto auto;
}
#charakterImageContainer{
    display: grid;
    grid-template-columns: 40vh auto 40vh;
}
#game{
margin-top: 0;
}
.gameOver{
    font-size: 15vh;
}
.winnerCSS{
    border: 2vh red solid;
}
.loserCSS{
    border: 2vh rgb(109, 109, 109) solid;
}
.drawCSS{
    border: 2vh rgb(38, 38, 38) solid;
}
#gapAdvice{
    
}
#OneOneTrans{
    border: red 0vh solid;
    transition: 1s;
}
#OneTwoTrans{
    border: red 0vh solid;
    transition: 1s;
}
#OneThreeTrans{
    border: red 0vh solid;
    transition: 1s;
}
#TwoOneTrans{
    border: red 0vh solid;
    transition: 1s;
}
#TwoTwoTrans{
    border: red 0vh solid;
    transition: 1s;
}
#TwoThreeTrans{
    border: red 0vh solid;
    transition: 1s;
}
@media(max-width: 800px){
    body{
        background-image: none;
        justify-content: center;
    }
    #container{
        display: grid;
        grid-template-columns: auto;
    }
    #charakterImageContainer{
        display: grid;
        grid-template-columns: auto;
    }
    html{
        width: 100vh;
        height: 100vh;
        overflow: unset;
    }
    
}
